services:

  nginx:
    image: skpr/nginx-drupal:dev-v2-latest
    ports:
      - "8080:8080"
      - "28624:28624"

  php-fpm:
    build: ./docker/compose/php-fpm
    network_mode: service:nginx
    environment:
      - COMPASS_ENABLED=true
      - RUST_BACKTRACE=1 # Debugging

  sidecar:
    build:
      dockerfile: sidecar/Dockerfile
      context: tracing
    # environment:
    #   - COMPASS_SIDECAR_TOKEN=xxxyyyzzz
    network_mode: service:nginx
    # Compass needs these.
    privileged: true
    pid: "service:php-fpm"
    depends_on:
      - php-fpm

  compass:
    build:
      dockerfile: cli/Dockerfile
      context: tracing
    command: /bin/bash -c "sleep infinity"
    network_mode: service:nginx
    depends_on:
      - sidecar

  curl:
    image: alpine:latest
    network_mode: service:nginx
    command: sh -c "apk add --no-cache curl && curl -v http://localhost:28624/v1/traces"
    depends_on:
      - compass
