services:

  nginx:
    image: skpr/nginx-drupal:dev-v2-latest
    ports:
      - "8080:8080"
      - "28624:28624"

  php-fpm:
    build: ./docker/compose
    network_mode: service:nginx
    environment:
      - COMPASS_ENABLED=true
      - RUST_BACKTRACE=1 # Debugging

  compass:
    image: local/compass:latest
    command: compass-sidecar
    # environment:
    #   - COMPASS_SIDECAR_TOKEN=xxxyyyzzz
    network_mode: service:nginx
    # Compass needs these.
    privileged: true
    pid: host
    user: root

  jaeger:
    image: jaegertracing/all-in-one:1.63.0
    restart: always
    environment:
      - COLLECTOR_OTLP_ENABLED=true
    ports:
      - "16686:16686"
      - "4317:4317"
      - "4318:4318"
    profiles:
      - otel
